QMainWindow {
    background-color: rgb(100, 100, 100);
}

QLabel {
    color: rgb(255, 255, 255);
    font: 12pt 'monospace';
}

QSpinBox {
    color: rgb(255, 255, 255);
    font: 12pt 'monospace';
    background-color: rgb(100, 100, 100);
}

QPushButton {
    color: rgb(255, 255, 255);
    font: 12pt 'monospace';
}

